<div class='post-body'>
  <div class='post-header'>
    <h2><%= "#{post.title} by #{post.user.name}" %></h2>
  </div>
  <p class='post-text'>
    <% if short && post.body.split(' ').length > 15 %>
      <%= post.body.split(' ').slice(0,15).join(' ') %>...
    <% else %>
      <%= post.body %>
    <% end %>
  </p>
  <p class='post-counters'>
    <%= "Comments: #{post[:comments_counter]}" %>,
    <%= "Likes: #{post[:likes_counter]}" %>
  </p>
</div>
