<% @users.each do |user| %>
  <div>
    <img src="<%= user.photo %> " alt="User Photo">
    <h2><%= user.id %></h2>
    <h2><%= user.name %></h2>
    <h4><%= user.bio %></h4>
    <p>Recent posts:</p>
     
    <ul>
      <% user.recent_posts.each do |post| %>
        <li><%= post.title %></li>
      <% end %>
    </ul>

    <%= link_to('See all posts','/users/user_id/posts') %>
  </div>
<% end %>
